p {
    border-radius: 10px;
    background: lightgray;
    width: 150px;
    text-align: center;
}

.red {
    border: 3px solid red;
}

.green {
    border: 3px solid green;
}

.blue {
    border: 3px solid blue;
}

.red span {
    color: red;
}

.green span {
    color: green;
}

.blue span {
    color: blue;
}