<h2>Login</h2>

<div>
    <a href="/">Back to home</a>
</div>
<br />
<hr />

<form method="post" action="/Users/Login">
    <div>
        Username / Email:
        <input type="text" name="usernameOrEmail" placeholder="Username or Email" required />
    </div>
    <div>
        Password:
        <input type="password" name="password" placeholder="Password" required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

<div style="display: {{{showError}}}; color: red">
    {{{error}}}
</div>
    
<div>
    Don't have an account? Create one <a href="/Users/Register">here.</a>
</div>