@model IEnumerable<string>

@{
    ViewData["Title"] = "Car makes";
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="d-inline">@ViewData["Title"]</h1>
    <a class="btn btn-success btn-lg d-inline float-right" href="/cars/add">Add car</a><hr />
}
else
{
    <h1>@ViewData["Title"]</h1>
}

@if (@Model.Any())
{
    <table class="table table-hover table-striped">
        <thead>
            <tr class="thead-dark">
                <th>Make</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model)
            {
                <tr>
                    <td>@make</td>
                    <td class="text-right">
                        <a class="btn btn-outline-info" href="/cars/@make" role="button">All cars from the make</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No customers to show...</h1>
}