<footer class="pt-3">
    <div class="eventures-bg-color">
        <div class="p-2 text-center">
            &copy; CopyRight Eventures Inc. 2018-@DateTime.UtcNow.Year. All rights reserved.
        </div>
    </div>
</footer>