@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <ul class="navbar-nav">
        <li class="nav-item">
            <div class="dropdown">
                <button class="eventures-bg-color border-0 dropdown-toggle nav-link nav-text" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="nav-text">Events</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">All Events</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">My Events</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Create">Create Event</a>
                    }
                </div>
            </div>
        </li>
    </ul>

    @if (User.IsInRole("Admin"))
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <button class="eventures-bg-color border-0 dropdown-toggle nav-link nav-text" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-text">Orders</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="All">All Orders</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a asp-area="Admin" asp-page="/Users/ManageRole" class="nav-link nav-text">Users</a></li>
        </ul>
    }

    <ul class="nav navbar-nav ml-auto">
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link nav-text">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn nav-link nav-text">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li><a asp-area="Identity" asp-page="/Account/Register" class="nav-link nav-text">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" class="nav-link nav-text">Login</a></li>
    </ul>
}