@model SaleFormModel

@{
    ViewData["Title"] = "Add sale";
}

<section class="container container-fluid text-center col-md-6">
    <h1>@ViewData["Title"]</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="get" action="/sales/create">
        <div class="dropdown">
            <label asp-for="CustomerId"></label>
            <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="dropdown">
            <label asp-for="CarId"></label>
            <select asp-for="CarId" asp-items="Model.Cars" class="form-control"></select>
            <span asp-validation-for="CarId" class="text-danger"></span>
        </div>
        <div class="dropdown">
            <label asp-for="Discount"></label>
            <select asp-for="Discount" asp-items="Model.Discounts" class="form-control"></select>
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>

        <div class="btn btn-group-lg">
            <a href="/parts/all" class="btn btn-outline-secondary">Dismiss</a>
            <button type="submit" class="btn btn-outline-success">Add</button>
        </div>
    </form>
</section>


